<!DOCTYPE html>
<html>
<head>
    <title>Playground</title>
    <style>
        body{
            text-align: center;
        }
        h1{
            text-align: center;
        }
        .box{
            display:inline-block;
            height: 200px;
            width: 200px;
            background-color: #9fc5f8;
            margin:20px;
            border: solid 1px black;
        }
    </style>
</head>
<body>
    <h1>Welcome!</h1>
    <div class="box" style="background-color: {{ bcolor }}"></div>
    <div class="box" style="background-color: {{ bcolor }}"></div>
    <div class="box" style="background-color: {{ bcolor }}"></div>
    {% for x in range(0,times) %}
    <div class="box" style="background-color: {{ bcolor }}"></div>
    {% endfor %}
</body>
</html>