<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Time Display</title>
      {% load static %}
      <!-- The line above tells Django to be ready to listen for static files -->
      <link rel="stylesheet" href="{% static 'ourApp/css/main.css' %}">
      <!-- Put the static files in the static folder inside your app.  
           Django collects files within all static folders and puts them within a single folder -->    
    </head>
    <body>
        <h1>The Current Time and Date:</h1>
        <form action="/creates" method="post">
          {% csrf_token %}
          <p>{{ time }}</p>
        </form>
    </body>
  </html>