<!DOCTYPE html>
<html>
<head>
    <title>Great Number Game</title>
    <link rel="stylesheet" type="text/css" media="screen" href="static/main.css" />
</head>
<body>
    <h1>Welcome to the Great Number Game!</h1>
    <p>I am thinking of a number between 1 an 100 </p>
    <p>Take a Guess!</p>
    <div id = "overbox">
    <div id = "box"></div>
    <form action="/guess", method='post'>
        <input type="text" id="Number" name="number">
        <input type="submit" value="Submit">
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
    </div>
</body>
</html>