<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <img src="/images/NSX.jpg">
</body>
</html>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
