<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <a href="/cat1"><img style="width: 300px; height: 250px;" src="/images/cat1.jpg"></a>
    <a href="/cat2"><img style="width: 300px; height: 250px;" src="/images/cat2.jpg"></a>
    <a href="/cat3"><img style="width: 300px; height: 250px;" src="/images/cat3.jpg"></a>
</body>
</html>
