<!DOCTYPE html>
<html>
<head>
    <title>Dojo Fruit Store</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/main.css" />
</head>
<body>
    <div id="overlay">
        <h1>Dojo Fruit Store!</h1>
        <div id="storefront">
            <form>
                <div id = "fruityt">
                <p>What would you like to buy?</p>
                <table>
                    <tr> 
                        <th>Fruit Name</th>
                        <th>Quantity</th>
                    </tr> 
                    <tr>
                        <td>Strawberry</td>
                        <td><select>
                                <option value="0">0</option>    
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>Raspberry</td>
                        <td><select>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>Apple</td>
                        <td><select>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                        </select></td>
                    </tr>
                </table>
                </div>
                <div id="infotab">
                    <p>Your Information</p>
                    Name: <input type='text' name='name'>
                    Student ID: <input type='text' name='student'>
                    <input type='submit' value='Submit'>
                </div>
            </form>
        </div>
        <div id ="descriptiontab"><p>Welcome to Dojo Fruit Store! Your dojo decided to buy fryuts for all the students! Please use this app to tell us what you would like to have! Once we get your order, we'll charge your student automatically. Dojo Fruit Store is proudly built using Flask.</p></div>
    </div>
</body>
</html>