<!DOCTYPE html>
<html>
<head>
    <title>Submitted Info</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
</head>
<body>
    <h2>Dojo Survey</h2>
    <div class="container">
        <h3>Submitted Info</h3>
        <table>

            <tr><td>Name: <%= name %></td></tr>
            <tr><td>Dojo Location: <%= location %></td></tr>
            <tr><td>Favorite Language: <%= language %></td></tr>
            <tr><td>Comment: <%= comment %></td></tr>
        </table>
        <div class="row">
                <a href="/"><input type="submit" value="Go Back"></a>
        </div>
    </div>
</body>
</html>