<html>
<head>
    <title>Epic Button</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
    $(document).ready(function (){
    var socket = io(); 
    $("#epicbutton").click(function(e){
        e.preventDefault();
        socket.emit('button_post', 1);
        });
        socket.on('updated_message', function(data){
            console.log(data)
            $("#number").html(data.msg);
        });
        $("#reset").click(function(e){
            e.preventDefault();
            socket.emit('button_reset', 0);
        });
        socket.on('reset_message', function(data){
            console.log(data)
            $("#number").html(data.msg);
        });
    });
    </script>
</head>
<body>
    <h1>Epic Button</h1>  
    <h2>The Button has been Pushed <div id="number"></div> times!</h2>
    <p>Push the button to update the count!</p>
    <button id="epicbutton">EPIC</button>
    <button id="reset">Reset</button>
</body>
</html>