<!DOCTYPE html>
<html>
<head>
    <title>Cute Animals</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <h1>Cute Animals</h1>
    <img src="{{ url_for('static', filename='img/1.png') }}">
    <img src="{{ url_for('static', filename='img/2.png') }}">
    <img src="{{ url_for('static', filename='img/3.png') }}">
    <img src="{{ url_for('static', filename='img/4.png') }}">
    <img src="{{ url_for('static', filename='img/5.png') }}">
    <img src="{{ url_for('static', filename='img/6.png') }}">
    <img src="{{ url_for('static', filename='img/7.png') }}">
    <img src="{{ url_for('static', filename='img/8.png') }}">
    <img src="{{ url_for('static', filename='img/9.png') }}">
    <img src="{{ url_for('static', filename='img/10.png') }}">
    {% for x in range(0,animalsbox) %}
    <img src="{{ url_for('static', filename='img/1.png') }}">
    <img src="{{ url_for('static', filename='img/2.png') }}">
    <img src="{{ url_for('static', filename='img/3.png') }}">
    <img src="{{ url_for('static', filename='img/4.png') }}">
    <img src="{{ url_for('static', filename='img/5.png') }}">
    <img src="{{ url_for('static', filename='img/6.png') }}">
    <img src="{{ url_for('static', filename='img/7.png') }}">
    <img src="{{ url_for('static', filename='img/8.png') }}">
    <img src="{{ url_for('static', filename='img/9.png') }}">
    <img src="{{ url_for('static', filename='img/10.png') }}">
    {% endfor %}
</body>
</html>